body {
  background-color: #FDB515;
}
.navbar {
  background-color: #003262;
}
.navbar-inverse .navbar-nav>li>a{
  color: #FDB515;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  background-color: #2D637F;
}
.metric {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  border: 10px solid #FDB515;
  text-align: center;
}
.graph-container {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  border: 10px solid #FDB515;
  height:400px;
}
.plot-placeholder {
  height: 100%;
  margin-bottom: 15px;
}

/* For rotating table headers */
th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform:
    translate(25px, 51px)
    rotate(315deg);
  width: 30px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

