body {
  background: black;
  color: white;
}
.container {
  text-align: center;
  margin: auto;
}
.metric h1 {
  font-size: 5em;
  margin: .2em 0;
}
.metric h2 {
  font-size: 2em;
  margin: .2em 0;
}
.metric {
  display: inline-block;
  width: 150px;
  height: 100px;
  margin: 1em;
  text-align: center;
}

@media screen and (min-width: 0px) and (max-width: 849px) {
  .plot-placeholder {
    height: 200px;
  }
}

@media screen and (min-width: 850px) {
  .plot-placeholder {
    width: 850px;
    height: 450px;
  }
}

.plot-placeholder {
  margin: auto;
}
