.container {
  text-align: center;
  margin: auto;
}
.powertable, .powertable td, .powertable th {
  text-align: center;
  margin: auto;
  border: 1px solid black;
}
.powertable {
  width:100%;
}

.plot-container {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.plot-placeholder {
  height: 450px;
  margin: auto;
}
